*, *::before, *::after {
    background-color: black;
    color: whitesmoke;
    font-size: 1.1rem;
}

a {
    color: lightblue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
