h1 {
    text-align: center;
}

form {
    height: 100%;
}

form > textarea {
    white-space: pre;
    min-height: 50vh;
    width: 100%;
    resize: vertical;
    border: none;
    padding: 1em;
    margin-bottom: 1em;
    overflow: scroll;
}

form > input {
    width: 100%;
    border: none;
    background-color: #090909;
    padding: 0.3em;
}


form > input:hover,
form > input:focus {
    background-color: #101010;
    cursor: pointer;
}
